
/* #1B1BB3	#313186	#090974	#4F4FD9	#7373D9 */
header{
    background: linear-gradient( to bottom right, #090974, #1B1BB3);  
    margin-top: -37px;
    margin-left: -15px;
    margin-right: -15px;
}
header h1{
    color:#ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 50px;
    padding-top: 0.5%;
    margin-left: 1.5%;
}

.menu a{
    color:#e4e4e4;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 30px;
    margin-left: 1.5%;
    margin-bottom: 0.75%;
}

footer{
    background: linear-gradient( to bottom right, #090974, #1B1BB3); 
    margin-bottom: -37px;
    margin-left: -15px;
    margin-right: -15px;
}

footer p{
    margin-left: 1%;
    color:#e4e4e4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 img{
    width: 1.8%;
    height: 1.8%;
    filter:invert();
}
#container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#sidebar{
    /* float: right;
    width: 20%;
    background: linear-gradient( to bottom, #1B1BB3, #ffffff);
    margin-top: -90px; */
}

#content{
    /* margin-right: 20px;
    margin-left: -10px; */
}


/* blockquote h1{
    font-size: 35px;
    color:#313186;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
} */

